*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main_section{

    width: 100%;
    padding: 50px 50px;
}

.main_header{

    width: 100%;
    display: flex;
    padding: 10px 15px;
    align-items: center;
}

.mainMovieHolder{

    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.logoImage{

    height: 100px;
    object-fit: cover;
    width: auto;
}


.test_container{

    padding: 50px 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.test_card{

    height: 350px;
    background:linear-gradient(to right bottom, #A9C9FF 0%, #FFBBEC 100%); 
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    transition: .5s;
}

.img_holder{

    width: 30%;
    padding: 50px 20px;

}

img{

    object-fit: cover;
    width: 100%;
}


.content_holder{

    width: 70%;
    height: 250px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;

}

.movie_title{

    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.movie_storyline{

    width: 100%;
    height: 150px;
}

.movie_actions{

    width: 100%;
    height: 50px;
    display: flex;

}

.duration{

    width: 50%;
}

.title{
    
    width: 50%;
    font-family: Segor UI;
    font-size: 26px;
    font-weight: 500;
    margin-left: 20px;
}
.genres{

    width: 50%;
}

.rating{

    width: 40%;
    display: flex;
    align-items: center;
    /* column-gap: 15px; */
    width: 200px;
}

.whiteYellowStars{

    position: relative;
    width: 90px;
    height: 20px;
    margin-right: 12px;
    /* background-color: brown; */
}

.White_star_holder{

    width: 100%;
    height: 20px;
    margin-left: 10px;
    position: absolute;
}


.Yellow_star_main_holder{

    width: 0%;
    height: 20px;
    overflow: hidden;
    position: absolute;
    margin-left: 10px;
}

.Yellow_star_holder{
    width: 90px;
    height: 20px;
    position: absolute;
}

.duration{

    width: 40%;
    display: flex;
    align-items: center;
}


.SubmitRatingBtn{

    width: 100px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding:12px 10px;
    background-color: white;
}



/* ---------------------------------------RATING CSS------------------------------ */

.rating_window{

    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.rating_holder{

    width: 25%;
    height: 300px;
    background-color: white;
    position: relative;
    box-shadow: 0px 0px 15px 5px grey;
}

.rating_cross{

    font-size: 22px;
    padding: 20px 20px;
    position: absolute;
    right: 0;
}

.rating_content_holder{

    padding: 0px 50px;
    position: relative;
}

.rating_message{

    padding: 0px 50px;
    margin-top: 50px;
}

.rating_message{

    font-family: "Segeo UI";
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}

.rate_star{

    font-size: 30px;
    margin-bottom: 40px;
    color: rgb(132, 132, 132);
    transition: 0.4s;
}

.white_star_container{

    position: absolute;
}

.yellow_star_holder{
    position: absolute;
}

.btn{

    padding: 10px 60px;
    margin-left: 50px;
    border: 3px solid black;
    background-color: white;
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 20px;
    margin-top: 70px;
}


/* ------------------------------ON HOVER------------------------------------- */


.test_card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    /* scale: 1.025; */
}

.SubmitRatingBtn:hover{

    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 5px 4px rgba(255, 255, 255, 0.7);
}

.rating_cross:hover{

    color: rgb(213, 27, 27);
    cursor: pointer;
}

.btn:hover{

    background-color: black;
    color: white;
    cursor: pointer;
}

.rate_star:hover{

    color: rgb(255, 184, 4);
}