*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.title_text{

    font-family: Segoe UI;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 8px;
    /* text-indent: 30px; */

}

.float_preview_container{

    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.float_preview_holder{

    width: 80%;
    height: 90vh;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}


.close_btn{

    position: absolute;
    /* top: 0; */
    margin-left: 91.5%;

}

.title_holder{

    width: 100%;
    padding: 12px 0px;
}

.poster_content_holder{

    height: 100%;
    width: 100%;
    /* background-color: green; */
    display: flex;

}

.poster_holder{

    width: 30%;
    /* height: 80vh; */
    /* background-color: blue; */
}

.poster{

    height: 64vh;
    width: 100%;
    /* background-color: #8591d6; */
    overflow: hidden;
}

img{
    height: 100%;

}

p{

    margin-bottom: 30px;
    margin-top: 5px;
}

.genres{

    padding: 20px 0px;
    width: 100%;
    /* background-color: #8591d6; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_holder{

    width: 70%;
    height: 80vh;
    /* background-color: whitesmoke; */
    padding: 30px;
}

.rating{

    display: flex;
    column-gap: 30px;
}

.header{

    width: 100%;
    background-color: #8591d6;
    padding: 0px 10%;
    display: flex;

}

.logo{

    height: 80px;
    width: 15%;
    /* background-color: yellow; */
    font-family: 'Segoe UI';
    font-size: 28px;
    font-weight: 400; 
    display: flex;
    justify-content: center;
    align-items: center;    
}   

.data{

    width: 100%;
    padding: 40px 10%;
    /* background-color: lightgrey; */
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
}

.header_data{

    width: 100%;
    /* background-color: green; */
    /* height: 90px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI';
    font-size: 15px;
}

.header_data > h1{

    font-weight: 400; 
}

.btn{
    
    padding: 15px 20px;
    background-color: #28326a;
    border: none;
    outline: none;
    color: white;
    font-family: Sego UI;
    font-weight: 200px;
    font-size:16px;
    border-radius: 10px;
    margin-left: 25px;
}

.btn:hover{
    cursor: pointer;
    
}

.btn:active{
    background-color: #8591d6   ;
}



.table_data{

    width:80%;
    margin: 0px 10%;
    /* background-color: antiquewhite; */
    /* border: 1px solid grey; */

}

table{

    width: 100%;
    font-family: 'Segoe UI';
    font-weight: 400px;
    border-collapse: collapse;
}

tr,td,th{

    border: 1px solid lightgrey;
    padding: 10px 10px;
    text-align: center;
}

tbody>tr:nth-child(even){

    background-color: #8591d6;
}

i{
    margin-left: 10px;
    color: black;
}

i:hover{

    cursor: pointer;
    color: blue;
}



/* Adding new movies CSS */

.add_movie_main{

    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.add_movie_holder, .update_movie_holder{

    width: 60%;
    height: 78vh;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.inp{

    width: 48%;
    padding: 10px 0px;
    border-radius: 6px;
    outline: none;
    border: 1px solid grey;
    margin-top: 20px;
    text-indent: 15px;
    column-gap: 2%;  
}


.big_inp{

    width: 96.5%;
    height: 140px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid grey;
    margin-bottom: 20px;
}

/* ---------------------------------------FILTER SECTION-------------------------------------------------------- */

.filter_section{

    height: 100vh;
    width: 25%;
    background-color: #dadce7;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: -25%;
    transition: 0.8s;
}

.filter_container{

    width: 80%;
    padding: 40px 0px;
    font-size: 18PX;
    font-family: 'Segoe UI';
}

.dropdown_filter{

    width: 100%;
    padding: 12px 15px;
    border: none;
    background-color: white;
    border-radius: 5px;    
    margin-top: 30px;
    line-height: 18px;

}

.filter_option{
    
    font-family: Segoe UI;
    font-size: 16px;
}

.filter_data_btn{
    margin-left: 0px;
    margin-top: 30px;
}

.PaginationHolder{

    padding: 5px 10%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

}

.PageNumberInputHolder{

    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 6%;
    justify-content: space-between;
    line-height: 10px;
}

.pg_btn{
    padding: 8px 20px;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 20px;
}  